<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= book.title %>">
</div>
<div>
    <label>Author</label>
    <select name="author">
        <% authors.forEach(author=> { %>
            <% if ( book.author===author.id ) { %>
                <option value="<%= author.id %>" selected label="<%= author.name %>">
            <% } else { %>
                <option value="<%= author.id %>" label="<%= author.name %>">
            <% } %>
        <% }) %>
    </select>
</div>
<div>
    <label>Publish Date</label>
    <input type="date" name="publishDate" 
     value="<%= book.publishDate == null ? "" : book.publishDate.toISOString().split("T")[0] %>">
</div>
<div>
    <label>Page Count</label>
    <input type="number" name="pageCount" value="<%= book.pageCount %>" min="1">
</div>
<div>
    <label>Cover</label>
    <input type="file" name="cover">
</div>
<div>
    <label>Description</label>
    <textarea name="description"><%= book.description %></textarea>
</div>